{% extends 'base.html' %}

{% block page_title %}Review of {{ review.game_title }}{% endblock %}

{% block content %}
    <section class="page-container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="offset-1 col-10 offset-md-2 col-md-8">
                        <span class="float-left"><a class="text-links" href="{% url 'all_reviews' %}"><i class="fas fa-arrow-left"></i></a></span>
                        <h1 class="orange-text">{{ review.game_title }}</h1>
                        <p class="small">
                            Written by: <span class="orange-text">{{ review.author }}</span><br>
                            on {{ review.created_date }}
                        </p>
                        <p>Platform: <span class="orange-text">{{ review.platform }}</span></p>
                        <br>
                        <p>{{ review.review | linebreaksbr}}</p>
                        <br>
                        <p>Score: <span class="orange-text">{{ review.score }}/10</span></p>
                        <br>
                        {% if user == review.author %}
                                <a class="btn btn-custom lg-btn-sizing" href="{% url 'edit_a_review' pk=review.pk %}">EDIT</a>
                                <a class="btn btn-custom lg-btn-sizing" href="{% url 'remove_review' pk=review.pk %}">DELETE</a>
                        {% endif %}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>

{% endblock %}