{% extends 'base.html' %}


{% block content %}
    <section class="page-container">
        <h1>Reviews</h1>
        <br>
        <p>
            Here at Bear Nation Gaming, we strive to bring you the best content, from reviews and live-streams, to providing premium merchandise.
            All this whilst trying to bring together a thriving community of Gamers from all walks of life.
            <br>
            From the hardcore PvP of Rainbow Six Siege, to the dedicated daily PvE grind of Destiny, and everything in between.
            <br>
            The one fact that remains true regardless of Platform, Genre, Gender or Location, is we all share a love for video games.
            <br>
            <br>
            So please, browse our <a class="" href="#">reviews</a>, check out our <a class="" href="#">merchandise</a>, and maybe head over to the <a class="" href="#">community page</a>...you could find the gaming buddy you always wished you'd had!
        </p>
        {% for review in reviews %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ review.image }}" class="card-img" alt="..."/>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.game_title }}</h5>
                        <p class="card-text">{{ review.author }}</p>
                        <p class="card-text">{{ review.review }}</p>
                        <p class="card-text">{{ review.score }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock %}