{% extends 'base.html' %}

{% block page_title %}Reviews{% endblock %}
{% load static from staticfiles %}

{% block content %}
    <section class="page-container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 offset-md-1 col-md-10">
                        <h1>Reviews</h1>
                        <br>
                        <p>
                            The one thing every gamer will agree on: there are so many games, and not enough time to play them all!<br>
                            This is why we decided to start writing reviews, to allow our users to understand which games may or may not be worth investing their time in, prior to them parting with their hard earned money.
                        </p>
                        <br>
                        <div class="row">
                            <div id="search" class="offset-1 col-10 mx-auto">
                                <form action="{% url 'reviews_search' %}" method="GET">
                                    <div class="form-group">
                                            <p>
                                                <input type="text" name="query" class="form-control" placeholder="Search">
                                            </p>
                                            <p>
                                                <button class="btn btn-custom sm-btn-sizing ml-1" type="submit">Search</button>
                                                <a class="btn btn-custom sm-btn-sizing ml-1" href="{% url 'all_reviews' %}">Cancel</a>
                                            </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-md-1 col-md-10">
                        <div class="row">
                            {% for review in reviews %}
                            <div class="col-12 col-sm-6">
                                <div class="card mb-3 border-dark" style="background-color: #696969;">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <h3 class="card-title orange-text">{{ review.game_title }}</h3>
                                                <p class="small">written by: <span class="orange-text">{{ review.author }}</span><br>on {{ review.created_date }}</p>
                                                <p class="card-text">{{ review.review }}</p>
                                                <p class="card-text">Score: <span class="orange-text">{{ review.score }}/10</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}