{% extends 'base.html' %}

{% block page_title %}Reviews{% endblock %}
{% load static from staticfiles %}

{% block content %}
    <section class="page-container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 offset-md-1 col-md-10">
                        <h1 class="orange-text">Reviews</h1>
                        <br>
                        <p>
                            The one thing every gamer will agree on: there are so many games, and not enough time to play them all!<br>
                            This is why we decided to start writing reviews, to allow our users to understand which games may or may not be worth investing their time in, prior to them parting with their hard earned money.
                        </p>
                        <hr>
                        <div class="row">
                            <div id="search" class="offset-1 col-10 offset-md-2 col-md-8 mx-auto">
                                <form action="{% url 'reviews_search' %}" method="GET">
                                    <div class="form-group">
                                            <p>
                                                <label for="reviews-search" class="orange-text">Search</label>
                                                <input id="reviews-search" type="text" name="query" class="form-control" placeholder="e.g. 'The Last Of Us">
                                            </p>
                                            <p>
                                                <button class="btn btn-custom sm-btn-sizing ml-1" type="submit">Search</button>
                                                <a class="btn btn-custom sm-btn-sizing ml-1" href="{% url 'all_reviews' %}">Cancel</a>
                                            </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-md-1 col-md-10">
                        <div class="row">
                            {% for review in reviews %}
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="card mb-3" style="background-color: #696969;">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card-body">
                                                <div class="card-head">
                                                    <h4><a class="text-links" href="{% url 'read_review' pk=review.pk %}">{{ review.game_title | truncatewords:4 }}</a></h4>
                                                    <br>
                                                    <p>
                                                        Platform: <span class="orange-text">{{ review.platform }}</span><br>
                                                        Score: <span class="orange-text">{{ review.score }}/10</span>
                                                    </p>
                                                </div>
                                                <p class="card-text"><a class="text-links" href="{% url 'read_review' pk=review.pk %}">Click to read review...</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <br>
                        <div class="row">
                            <div class="mx-auto">
                                {% if reviews.has_other_pages %}
                                    <ul class="pagination">
                                        {% if reviews.has_previous %}
                                            <li class="page-item">
                                                <a href="?page={{reviews.previous_page_number}}" class="page-link"><i class="fas fa-angle-double-left"></i></a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link"><i class="fas fa-angle-double-left"></i></a>
                                            </li>
                                        {% endif %}
                                        {% for i in reviews.paginator.page_range %}
                                            {% if reviews.number == i %}
                                                <li class="page-item active">
                                                    <a class="page-link">{{i}}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if reviews.has_next %}
                                            <li class="page-item">
                                                <a href="?page={{reviews.next_page_number}}" class="page-link"><i class="fas fa-angle-double-right"></i></a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link"><i class="fas fa-angle-double-right"></i></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                  {% endif %}
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}