{% extends "base.html" %}

{% block page_title %}Cart{% endblock %}

{% load bootstrap_tags %}

{% block content %}

<section class="page-container">
    <div class="row">
        <div class="col-12">
            <h1>Cart</h1>
            <br>
            <div class="row">
                <div class="col-12">
                    {% if product_count == 0 %}
                        <h4>
                            There are no items currently in your cart!<br>
                            Why not check out our merchandise store <a href="{% url 'all_products' %}">here</a>
                        </h4>
                    {% elif product_count == 1 %}
                        <p>There is {{ product_count }} item currently in your cart:</p>
                    {% else %}
                        <p>There are {{ product_count }} items currently in your cart:</p>
                    {% endif %}

                    <br>

                    {% for item in cart_items %}
                        <p>
                            <img src="{{ item.product.image.url}}" width="130rem" height="150rem" alt="image of {{ item.product.name }}">
                        </p>
                        <p>
                            {{ item.product.name }}
                        </p>
                        <p>
                            £{{ item.product.price }}
                        </p>
                        <form method="post" action="{% url 'adjust_cart' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <p>
                                    <input name="quantity" type="number" min="0" max="999" class="form-control input-cart text-center" value="{{item.quantity}}">
                                    <br>
                                    <button type="submit" class="btn btn-success btn-sm rounded-0">Amend</button>
                                </p>
                            </div>
                        </form>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <h4>Total:&nbsp</h4>
                    <p>£{{ total }}</p>
                    <p>
                        <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}