{% extends "base.html" %}

{% block page_title %}Cart{% endblock %}

{% load bootstrap_tags %}

{% block content %}

<section class="page-container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10">
                    <h1>Cart</h1>
                    <br>
                    {% if product_count == 0 %}
                        <h5>
                            There are no items currently in your cart!<br>
                            Why not check out our merchandise store <a class="text-links" href="{% url 'all_products' %}">here</a>
                        </h5>
                    {% elif product_count == 1 %}
                        <p>There is {{ product_count }} item currently in your cart:</p>
                    {% else %}
                        <p>There are {{ product_count }} items currently in your cart:</p>
                    {% endif %}

                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-12 offset-sm-1 col-sm-10">
                    {% for item in cart_items %}
                        <p>
                            <img src="{{ item.product.image.url}}" width="130rem" height="150rem" alt="image of {{ item.product.name }}">
                        </p>
                        <p>
                            {{ item.product.name }}
                        </p>
                        <p>
                            £{{ item.product.price }}
                        </p>
                        <div class="row">
                            <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                                <form method="post" action="{% url 'adjust_cart' item.id %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="offset-1 col-10">
                                            <label for="product-quantity" class="small">Quantity</label>
                                            <input name="quantity" type="number" min="0" max="999" class="form-control sm-btn-sizing mx-auto input-cart text-center" value="{{item.quantity}}">
                                            <button type="submit" class="btn btn-custom sm-btn-sizing">Amend</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10">
                    <h4>Total:&nbsp</h4>
                    <p>£{{ total }}</p>
                    <p>
                        <a href="{% url 'checkout' %}" class="btn btn-custom sm-btn-sizing" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}