{% extends "base.html" %}

{% block page_title %}Checkout{% endblock %}

{% load static %}
{% load bootstrap_tags %}

{% block head_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
<section class="page-container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10">
                    <h1 class="orange-text">Checkout</h1>
                    <br>
                    {% if product_count == 1 %}
                        <p>You have {{ product_count }} item currently in your cart:</p>
                    {% else %}
                        <p>You have {{ product_count }} items currently in your cart:</p>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                    {% for item in cart_items %}
                        <p>
                            <img src="{{ item.product.image.url}}" width="130rem" height="150rem">
                        </p>
                        <p>
                            {{ item.product.name }}
                        </p>
                        <p>
                            £{{ item.product.price }}
                        </p>
                        <p>
                            Quantity: {{ item.quantity }}
                        </p>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Total:&nbsp</h4>
                    <p>£{{ total }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<br>
<section class="page-container">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 offset-md-1 col-md-10">
                    <br>
                    <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
                        <legend class="orange-text">Payment Details</legend>

                        <div id="credit-card-errors" style="display: none;">
                            <div class="alert-message block-message error" id="stripe-error-message"></div>
                        </div>

                        <p>Delivery Info</p>
                        <div class="form-group offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                            {{ order_form | as_bootstrap }}
                        </div>
                        <br>
                        <p>Payment Info</p>
                        <div class="form-group offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                            {{ payment_form | as_bootstrap }}
                        </div>

                        {% csrf_token %}
                        <div class="form-group col-md-12">
                            <input class="btn btn-custom" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}