{% extends 'base.html' %}

{% block page_title %}Community{% endblock %}

{% block content %}
    <section class="page-container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 offset-lg-1 col-lg-10">
                        <h1 class="orange-text">Community</h1>
                        <br>
                        <p>
                            Welcome to our community forum {{ user }}, here you can find anything from: blog posts and discussions, to team-up requests and much more.<br>
                            Want to get interact with other users? Then why not comment on a current community post...<br>
                            For those wishing to spark a new topic of conversation, or find others to play online with, why not add a new community post...<br>
                            <br><a class="btn btn-custom" href="{% url 'post_new' %}">Add New Post</a>
                        </p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div id="search" class="offset-1 col-10 offset-md-2 col-md-8 mx-auto">
                        <form action="{% url 'posts_search' %}" method="GET">
                            <div class="form-group">
                                    <p>
                                        <label for="community-search" class="orange-text">Search</label>
                                        <input id="community-search" type="text" name="query" class="form-control" placeholder="e.g. 'Rainbow Six Siege' ">
                                    </p>
                                    <p>
                                        <button class="btn btn-custom sm-btn-sizing ml-1" type="submit">Search</button>
                                        <a class="btn btn-custom sm-btn-sizing ml-1" href="{% url 'all_posts' %}">Cancel</a>
                                    </p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                        <div class="col-12 offset-lg-1 col-lg-10">
                            <hr>
                            <h4><a class="text-links" href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h4>
                            <p>posted by: <span class="orange-text">{{ post.author }}</span><br>on {{ post.published_date }}</p>
                            <p>{{ post.text|truncatechars:50 }}</p>
                            <a class="text-links" href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="row">
                    <div class="mx-auto">
                        {% if posts.has_other_pages %}
                            <ul class="pagination">
                                {% if posts.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{posts.previous_page_number}}" class="page-link"><i class="fas fa-angle-double-left"></i></a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link"><i class="fas fa-angle-double-left"></i></a>
                                    </li>
                                {% endif %}
                                {% for i in posts.paginator.page_range %}
                                    {% if posts.number == i %}
                                        <li class="page-item active">
                                            <a class="page-link">{{i}}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a href="?page={{i}}" class="page-link">{{i}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if posts.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{posts.next_page_number}}" class="page-link"><i class="fas fa-angle-double-right"></i></a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link"><i class="fas fa-angle-double-right"></i></a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}