{% extends 'base.html' %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block content %}
    <section class="page-container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="offset-1 col-10 offset-md-2 col-md-8">
                        <br>
                        <span class="float-left"><a class="text-links" href="{% url 'all_posts' %}"><i class="fas fa-arrow-left"></i></a></span>
                        <h2>{{ post.title }}</h2>
                        <p class="small">posted by: {{ post.author }}<br>on {{ post.published_date }}</p>
                        <p>{{ post.text }}</p>
                        {% if user == post.author %}
                                <a class="btn btn-success" href="{% url 'post_edit' pk=post.pk %}">EDIT POST</a>
                                <a class="btn btn-warning" href="{% url 'post_remove' pk=post.pk %}">DELETE POST</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr class="offset-1 col-10 offset-md-2 col-md-8">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="offset-1 col-10 offset-md-2 col-md-8">
                        <br>
                        <a class="btn btn-success" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                        <br>
                        <br>
                        {% for comment in post.comments.all %}
                            <hr>
                            <div class="comment">
                                <div class="date small">{{ comment.created_date }}</div>
                                <strong>{{ comment.author }}</strong>
                                <p>{{ comment.text|linebreaks }}</p>
                            </div>
                        {% empty %}
                            <p>No comments here yet! :(</p>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>

{% endblock %}