{% extends "base.html" %}

{% block page_title %}Login{% endblock %}

{% load bootstrap_tags %}

{% block content %}
    <section class="page-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 offset-sm-1 col-sm-10 offset-lg-2 col-lg-8">
                            <h1 class="orange-text">Log In</h1>
                            <br>

                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                {{ login_form | as_bootstrap }}

                                <input class="btn btn-custom sm-btn-sizing" type="submit" value="Login">
                            </form>
                            <br>
                            <p>
                                <a class="text-links" href="{% url 'password_reset' %}">Forgot password?</a><br>
                                OR<br>
                                Not registered yet? <a class="text-links" href="{% url 'register' %}">Click here!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}