{% extends "base.html" %}

{% block page_title %}Login{% endblock %}

{% load bootstrap_tags %}

{% block content %}
    <section class="page-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Log In</h1>
                    <br>

                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ login_form | as_bootstrap }}

                        <input class="btn btn-custom sm-btn-sizing" type="submit" value="Login">
                    </form>
                    <br>
                    <p><a class="text-links" href="{% url 'password_reset' %}">Forgot password?</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}