{% extends 'base.html' %}

{% block page_title %}Password Reset Complete{% endblock %}

{% block content %}
    <section class="page-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Password Reset Complete!</h1>
                    <br>
                    <p>
                        Your password has been changed. <br> You may use your new password and <a href="{% url 'login' %}">sign in</a>.
                    </p>

                </div>
            </div>
        </div>
    </section>
{% endblock %}