{% extends 'base.html' %}

{% block page_title %}Password Reset Sent{% endblock %}

{% block content %}
    <section class="page-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="orange-text">Reset Password Link Sent</h1>
                    <br>

                    <p>We've emailed you instructions for setting your password.</p>
                    <p>If an account exists with the email you entered, then you should receive them shortly.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                    <br>
                    <p><a class="btn btn-custom" href="{% url 'login' %}">Return to Login</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}