{% extends 'base.html' %}

{% block page_title %}{{ product.title }}{% endblock %}

{% block content %}
    <section class="page-container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="offset-1 col-10 offset-md-2 col-md-8">
                        <p class="small back-to-all-page"><a class="text-links" href="{% url 'all_products' %}"><i class="fas fa-arrow-left"></i> Merchandise</a></p>
                        <h1 class="orange-text">{{ product.name }}</h1>
                        <br>
                        <img src="{{ MEDIA_URL }}{{ product.image }}" class="card-img-top product-details-image" alt="Image of {{ product.name }}"/>
                        <br>
                        <br>
                        <p>{{ product.description | linebreaksbr}}</p>
                        <p>£{{ product.price }}</p>
                        <br>
                        <div class="offset-1 col-10 offset-md-2 col-md-8">
                            <form method="POST" action="{% url 'add_to_cart' product.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <label for="product-quantity" class="small">Quantity:</label>
                                        <input id="product-quantity" name="quantity" type="number" min="1" max="999" value="1" class="form-control product-btn-sizing mx-auto text-center">
                                        <button class="btn btn-custom product-btn-sizing" type="submit">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="offset-1 col-10 offset-md-2 col-md-8">
                        {% if request.user.is_authenticated %}
                            <a class="btn btn-custom lg-btn-sizing" href="{% url 'add_review_to_product' pk=product.pk %}">Review the Product</a>
                            <br>
                            <hr>
                        {% endif %}
                        <h3 class="orange-text">Reviews</h3>
                        {% for review in product.productreviews.all %}
                            <hr>
                            <div class="comment">
                                <div class="date small">{{ review.created_date }}</div>
                                <p class="orange-text">{{ review.reviewer }}</p>
                                <p>{{ review.review|linebreaks }}</p>
                                <p>Rating: <span class="orange-text">{{ review.rating }}/5</span></p>
                                {% if request.user == review.reviewer %}
                                    <a class="text-links small" href="{% url 'delete_product_review' pk=review.pk %}">DELETE</a>
                                {% endif %}
                            </div>
                        {% empty %}
                            <p>No reviews here yet!</p>
                        {% endfor %}
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>

{% endblock %}